#slider {
    width: 940px;
    height:321px;
    overflow: hidden;
    margin:0 auto;
    position: relative;
}

#slider > img {
    display: none;
}

#slider #next, #slider #prev {
	position: absolute;
	top: 125px;
}

#slider #next {
	right: 0;
}
#slider #prev {
	bottom: 20;
}